id ICON "im.ico"
GLFW_ICON ICON "im.ico" 

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "ETH Zurich"
      VALUE "FileDescription", "Instant Meshes"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "Instant Meshes"
      VALUE "LegalCopyright", "Wenzel Jakob, Marco Tarini, Daniele Panozzo, Olga Sorkine-Hornung"
      VALUE "OriginalFilename", "Instant Meshes.exe"
      VALUE "ProductName", "Instant Meshes"
      VALUE "ProductVersion", "1.0"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END
